# .shellcheckrc
# ShellCheck configuration for cc-cron

# Use bash as the shell
shell=bash

# Disable warnings that don't apply
disable=SC1090  # Don't warn about dynamic source
disable=SC1091  # Don't warn about missing source files
disable=SC2034  # Don't warn about unused variables (may be used externally or for future use)
disable=SC2154  # Don't warn about referenced but not assigned (sourced files assign these)

# External sources
external-sources=true